header{
    background-color: rgb(61, 78, 78);
   
    color: rgb(201, 195, 195)
    
}
body{
    background-color: lightblue;
    color: rgb(51, 55, 59);
    
    
    
   
}
main{
    width: 1024px;
    margin: auto;

}

#cartContents{
    background-color: whitesmoke;
    text-align: right;

    
}

